

{% extends "base.html" %}


{% block content %}
<div class='row'>
    <h1 class='col-md-6'>Common Web Vulnerabilities</h1>
</div>

{% if request.user.is_authenticated %}
<form action='{% url "post_new" %}' method='POST' role='form'>
    <div class='form-group'>
        <label for='title'>Title:</label>
        <input type='text' id='title' name='title' class='form-control' />
    </div>

    <div class='form-group'>
        <label for='content'>Content:</label>
        <textarea type='text' id='content' name='content' class='form-control'></textarea>
    </div>

    <button type='submit' class='btn btn-default'>Create Post</button>
</form>

{% else %}

<form action='' method='GET' role='form'>
    <div class='form-group'>
        <label for='filter'>Filter:</label>
        <input type='text' id='filter' name='filter' class='form-control' />
    </div>

    <button type='submit' class='btn btn-default'>Filter</button>
    <a href='/' class='btn btn-danger'>Clear</a>
</form>

{% endif %}

<div class='row'>
    <h1 class='col-md-6'>Most Recent Posts</h1>
</div>

{% for obj in posts %}
<div class='row'>
    <h2 class='col-md-12'>{{ obj.title }} <small>{{ obj.created }}</small></h2>
    <p class='col-md-6'>{{ obj.content|safe }}</p>
</div>
{% empty %}
<div class='row'>
    <p class='col-md-12'>No posts :(</p>
</div>
{% endfor %}

{% endblock %}
